<section>
  <div class="flex flex-col gap-3">
    <div class="text-lg">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Elias Marcos</div>
    <div class="text-3xl font-semibold">System Engineer and Software Developer</div>
    <p class="my-1">
      I am a passionate full stack web developer and systems engineering student at the Universidad Nacional Mayor de San Marcos. I combine my solid academic training with practical experience in developing innovative and efficient web solutions. I am proficient in technologies such as Django, Node.js, React, and Angular, and have a proven track record in process automation, Python bot development, and UI/UX design. My focus is on creating functional and attractive applications, optimizing performance and bringing real value to every project I get involved in.
      </p>
  </div>
  </section>