<div class="w-full flex justify-center text-center text-gray-300">
  <div class="max-w-[900px] pt-16 pb-4 px-8">
    <div class="pb-2">&copy; 2024 Elias Marcos</div>
    <div class="inline opacity-75">
      <a
        href="https://astrofy-template.netlify.app/"
        target="_blank"
        class="font-bold no-underline text-inherit"
        >Astrofy Template</a
      >
      developed by
      <a
        href="https://manuelernestog.github.io"
        target="_blank"
        class="font-bold no-underline text-inherit"
        >Manuel Ernesto ⚡️</a
      >
      <br />
      and upgraded by Elias Marcos
    </div>
  </div>
</div>
